<mat-toolbar color="primary">
  <a mat-button routerLink="/operators/manage" routerLinkActive="active">
    {{'NAV.OPERATORS'|translate}}
  </a>
  <a mat-button routerLink="/operatorGroups/manage" routerLinkActive="active">
    {{'NAV.OPERATORGROUPS'|translate}}
  </a>
  <a mat-button routerLink="/purposes/manage" routerLinkActive="active">
    {{'NAV.PURPOSES'|translate}}
  </a>
  <a mat-button routerLink="/currencies/manage" routerLinkActive="active">
    {{'NAV.CURRENCIES'|translate}}
  </a>
  <a mat-button routerLink="/corporations/manage" routerLinkActive="active">
    {{'NAV.CORPORATIONS'|translate}}
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
